# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
*.user
*.suo
*.sdf
*.opensdf
*.ipch
x64/
Debug/
Release/
Builds/
JuceLibraryCode/modules/
*.vst3
.DS_Store
*.png

!Source/Essentia/*.exe
!Source/Essentia/essentia_streaming_key.exe
!Source/Essentia/essentia_streaming_rhythmextractor_multifeature.exe